.badge {
  position: absolute;
  right: -10px;
  bottom: -25px;
  max-width: 120%;
}
.gold{
  color: rgb(150, 136, 0);
}

.brownbold{
  font-size: 13px;
}
.mod{
  color: black;
  font-weight: bold;
}

ion-select{
  padding: 0px;
}
.filIc{
  font-size: 26px;
  padding-right: 5px;
  
  float: left;
}