<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">

      <ion-button class="badge-button" routerLink="/cart/" routerDirection="forward">
        <ion-icon size="large" name="cart-outline">
        </ion-icon>
        <ion-badge class="badge-one" *ngIf="cartItems.length > 0" color="danger">{{ cartItems.length }}</ion-badge>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <div *ngIf="products.length > 0">
      <ion-grid class="no-padding">

      </ion-grid>

      <ion-card *ngFor="let product of products">
        <ion-grid class="no-padding">
          

          <ion-row class="padding-top-10">
            <ion-col class="left">
              <ion-row>
                <ion-col class="no-padding mod">
                  <h4 style="margin-top:1px; color: #000000;">
                    {{product.productName}}
                  </h4>
                  
                </ion-col>
              </ion-row>
            </ion-col>
            

          </ion-row>
          <ion-row>
            <ion-col class="no-padding-top">
              <div class="smallblack">{{product.ram}} - {{product.storage}}</div>
            </ion-col>
          </ion-row>
            <ion-row>
              <ion-col class="right">
                  <h6 class="no-padding mod">Rs. {{product.price}}</h6>
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col class="no-padding-top">
              <ion-button expand="full" color="secondary"  style="--background:#0E2239" (click)="openDetail(product)">
                Details</ion-button>
            </ion-col>
            <ion-col class="no-padding-top">
              <ion-button expand="full" (click)="add(product)" [disabled]="cartItems.includes(product.id)"
                style="--background:#0E2239">
                Add to Cart</ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <div *ngIf="loading == 'done' && products.length == 0">
      <div class="center padding-top">
        <div class="gold-head padding-top">
          Temporarily Out of Stock
        </div>
        <div>
          Please visit after some time.
        </div>
      </div>
    </div>

  </ion-content>

</ion-content>